@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;

}
h1, h2, h3, h4, h5, h6 {
  font-family: "Tinos", serif;
  font-weight: 700;
  
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}